## Deliverable 2. Create a Customer Travel Destinations Map.

In [ ]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [8]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_vacation.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
0,0,Mataura,-46.1927,168.8643,57.47,98,100,3.29,NZ,2022-05-07 20:06:08,light rain
1,1,Rikitea,-23.1203,-134.9692,77.36,83,70,12.50,PF,2022-05-07 20:06:08,light rain
2,2,Alugan,12.2188,125.4808,80.19,84,56,11.43,PH,2022-05-07 20:06:09,broken clouds
3,3,Cherskiy,68.7500,161.3000,28.89,95,100,3.71,RU,2022-05-07 20:06:11,overcast clouds
4,4,Yellowknife,62.4560,-114.3525,37.56,100,100,24.00,CA,2022-05-07 20:05:45,overcast clouds

In [9]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 80
What is the maximum temperature you would like for your trip? 100

In [10]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
2,2,Alugan,12.2188,125.4808,80.19,84,56,11.43,PH,2022-05-07 20:06:09,broken clouds
5,5,Kahului,20.8947,-156.4700,80.62,67,40,18.41,US,2022-05-07 20:06:13,scattered clouds
8,8,Ocos,14.5094,-92.1933,89.78,68,88,8.66,GT,2022-05-07 20:06:15,overcast clouds
11,11,Avarua,-21.2078,-159.7750,82.45,78,40,8.05,CK,2022-05-07 20:06:18,scattered clouds
16,16,Edd,13.9297,41.6925,83.50,82,79,10.76,ER,2022-05-07 20:06:23,broken clouds
23,23,Tubuala,9.5167,-79.0333,83.03,78,23,7.27,PA,2022-05-07 20:06:28,few clouds
41,41,Yarada,17.6500,83.2667,80.92,78,40,2.30,IN,2022-05-07 20:06:46,haze
49,49,Georgetown,5.4112,100.3354,85.95,74,20,6.91,MY,2022-05-07 20:06:54,few clouds
51,51,Vaitape,-16.5167,-151.7500,81.34,76,0,7.47,PF,2022-05-07 20:04:45,clear sky
58,58,Thinadhoo,0.5333,72.9333,84.00,77,66,16.20,MV,2022-05-07 20:07:01,broken clouds

In [11]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                137
City                   137
Lat                    137
Lng                    137
Max Temp               137
Humidity               137
Cloudiness             137
Wind Speed             137
Country                137
Date                   137
Current Description    137
dtype: int64

In [12]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = preferred_cities_df.dropna()
print (preferred_cities_df)

     City_ID         City      Lat       Lng  Max Temp  Humidity  Cloudiness  \
2          2       Alugan  12.2188  125.4808     80.19        84          56
5          5      Kahului  20.8947 -156.4700     80.62        67          40
8          8         Ocos  14.5094  -92.1933     89.78        68          88
11        11       Avarua -21.2078 -159.7750     82.45        78          40
16        16          Edd  13.9297   41.6925     83.50        82          79
..       ...          ...      ...       ...       ...       ...         ...
680      680   Champerico  14.3000  -91.9167     95.54        68         100
684      684     Kirakira -10.4544  161.9205     80.83        84          74
687      687        Nagod  24.5667   80.6000     88.30        20           0
690      690   Manacapuru  -3.2997  -60.6206     81.37        83         100
691      691  Jacqueville   5.2052   -4.4146     82.83        78          76

     Wind Speed Country                 Date Current Description
2         11.43      PH  2022-05-07 20:06:09       broken clouds
5         18.41      US  2022-05-07 20:06:13    scattered clouds
8          8.66      GT  2022-05-07 20:06:15     overcast clouds
11         8.05      CK  2022-05-07 20:06:18    scattered clouds
16        10.76      ER  2022-05-07 20:06:23       broken clouds
..          ...     ...                  ...                 ...
680        8.77      GT  2022-05-07 20:16:31     overcast clouds
684       10.27      SB  2022-05-07 20:16:35       broken clouds
687        5.44      IN  2022-05-07 20:16:38           clear sky
690        3.53      BR  2022-05-07 20:16:40     overcast clouds
691       10.85      CI  2022-05-07 20:16:41       broken clouds

[137 rows x 11 columns]

In [16]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Alugan,PH,80.19,broken clouds,12.2188,125.4808,
5,Kahului,US,80.62,scattered clouds,20.8947,-156.4700,
8,Ocos,GT,89.78,overcast clouds,14.5094,-92.1933,
11,Avarua,CK,82.45,scattered clouds,-21.2078,-159.7750,
16,Edd,ER,83.50,broken clouds,13.9297,41.6925,
23,Tubuala,PA,83.03,few clouds,9.5167,-79.0333,
41,Yarada,IN,80.92,haze,17.6500,83.2667,
49,Georgetown,MY,85.95,few clouds,5.4112,100.3354,
51,Vaitape,PF,81.34,clear sky,-16.5167,-151.7500,
58,Thinadhoo,MV,84.00,broken clouds,0.5333,72.9333,

In [18]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()

    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [ ]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

In [26]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [24]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Descriptio</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [25]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))